
body {
    font-family: 'monserrat';
    font-weight: 400;
    line-height: 1,5;
    color: #292222;
    text-align: left;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.banner {
    background-image: url(images/27.png.webp);
    background-size: cover;
    background-position: center;
    color: white;
    text-align:left;
    font-family: 'monserrat' sans-serif;
    min-height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.pop {
    width: 300px;
    height: 200px;
    background-color: #441616;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: popInAndOut 2s ease-in-out forwards;
    color: whitesmoke;
    text-align: center;
    align-items: center;
  }
  
  .pop:hover {
    animation: none;
  }
  .text-ctas{
    text-align: center;
  }
  .pop-content {
    padding: 20px;
  }
  
  .pop h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .pop p {
    font-size: 16px;
  }
  
  @keyframes popInAndOut {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
}

.banner {
    padding: 20px;
}

.banner h1 {
    font-size: 82px;
    font-weight: 600;
    font-family:'Jost' sans-serif;
    margin-left: 50px;
    font-style: italic;
    margin-bottom: -20px;
}
.btn-black {
    text-decoration: none;
    border-radius: 4px;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-left: 50px;

    background-color: none;
    padding-left: 55px;
    color: white;
    text-decoration: none;
    padding-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 01);*/
}
.banner p {
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 30px;
    font-style: italic;
}
/*GRID section*/

.container {
    margin: 40px auto;
    width: 1200px;
    text-align: center;
}

#logo {
    height: 200px;
    width: 500px;
    object-fit: cover;
}
.effect {
    transition: 0.5s;
}
 
.effect:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);

}
.title-click {
    text-decoration: none;
}

.title-click:hover{
    transform: scale(1.05);
    transition: 0,5s;
}
.card-white img {
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
}
.card-logo{
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
    margin-top: -100px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    text-align: center;
}
.container h2{
    margin: 30px;
    padding-bottom: 30px;
}
.btn-yellow {
    text-decoration: none;
    background-color: #fec844;
    padding: 10px 20px;
    color: #292222;
    font-weight: 800;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 01);
}

.card-white {
    text-align: center;
}

.card-white h3 {
     margin-bottom: 45px ; 
     margin-top: -10px;
}
.components{
    object-fit: cover;
}
.components img{
    height: 600px;
    width: 811px;
    object-fit: cover;
}
.components h3 {
    text-transform: uppercase;
    font-style:inherit;
    font-size: 32px;
    font-display:fallback;
    text-align: center;
    color: #644030;
    margin-top: 40px;
}

.components p {
    font-size: 24px;
    text-align: justify;
    text-align: center;
    margin: 30px;
   
}
.components img{
    width: 100%;
}
.gallery {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    text-align: center;
    margin-top: 60px;
}

#logo_folgore {
    width: 400px;
    height: 150px;
    object-fit:contain;
}
.list-inline {
    font-size: 60px;
    display: inline;
    padding-left: 0;
}
.list-inline li {
    font-size: 60px;
    display: inline;
    padding: 20px;
    background-color:transparent;
}
.list-inline i {
    text-align: center;
}  
.footer {
    color: white;
    background-color: #292222;
    text-align: center;
    margin: 0;
    padding: 0;
}
.footer p {
    text-align: center;
    padding-bottom: 30px;
    margin: 20px;
}
.footer a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 22px;
}
#rule {
    text-decoration-line: underline;
}
.cards-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /*justify-content: space-between;
    align-items: center;
    position:sticky;*/

}
.footer-top img{
    width: 400px;
    height: 150px;
    object-fit:contain;
}
.cards-footer{
    margin: 10px 30px;
}
.footer hr{
    width: 1200px;
}
.card-black {
    text-align: center;
}
#form {
    width: 1000px;
    height: 600px;
    object-fit:contain;
}